In [1]:
from filo import FileSeries

# File series by automatic detection in folder(s)

In [2]:
folders = ['data/img1', 'data/img2']
files = FileSeries.auto(folders=folders, extension='.png')
files

FileSeries in . / ['data/img1', 'data/img2'], 20 files]

## Access individual files in series

In [3]:
files[0]

filo.File #0 [img-00610.png in folder 'data/img1']

In [4]:
num = 19
files[num].num  # should always be equal to num

19

In [5]:
files[8].unix_time  # unix time of file creation

1704737984.3477845

In [6]:
files[8].datetime  # corresponding datetime

datetime.datetime(2024, 1, 8, 19, 19, 44, 347785)

## Get and save file info

In [7]:
list(files)  # list of all filo.File objects

[filo.File #0 [img-00610.png in folder 'data/img1'],
 filo.File #1 [img-00611.png in folder 'data/img1'],
 filo.File #2 [img-00612.png in folder 'data/img1'],
 filo.File #3 [img-00613.png in folder 'data/img1'],
 filo.File #4 [img-00614.png in folder 'data/img1'],
 filo.File #5 [img-00615.png in folder 'data/img1'],
 filo.File #6 [img-00616.png in folder 'data/img1'],
 filo.File #7 [img-00617.png in folder 'data/img1'],
 filo.File #8 [img-00618.png in folder 'data/img1'],
 filo.File #9 [img-00619.png in folder 'data/img1'],
 filo.File #10 [img-00620.png in folder 'data/img1'],
 filo.File #11 [img-00625.png in folder 'data/img2'],
 filo.File #12 [img-00626.png in folder 'data/img2'],
 filo.File #13 [img-00627.png in folder 'data/img2'],
 filo.File #14 [img-00628.png in folder 'data/img2'],
 filo.File #15 [img-00629.png in folder 'data/img2'],
 filo.File #16 [img-00630.png in folder 'data/img2'],
 filo.File #17 [img-00631.png in folder 'data/img2'],
 filo.File #18 [img-00632.png in folder 'data/img2'],
 filo.File #19 [img-00633.png in folder 'data/img2']]

In [8]:
files.info.head()  # see top of info DataFrame

        folder       filename   time (unix)
num
0    data/img1  img-00610.png  1.704738e+09
1    data/img1  img-00611.png  1.704738e+09
2    data/img1  img-00612.png  1.704738e+09
3    data/img1  img-00613.png  1.704738e+09
4    data/img1  img-00614.png  1.704738e+09

In [9]:
str(files.duration)  # time between first file and last file

'0:00:00.008665'

## Save all file info to CSV file

In [10]:
files.to_csv('data/FileSeries_Info.txt')

# File series from info stored in CSV file

In [11]:
files = FileSeries.from_csv('data/External_File_Info.txt')

In [12]:
files.info.head()

    folder           filename  time (unix)
num
0      img      img-00610.png   1599832397
1      img      img-00611.png   1599832399
2      img      img-00612.png   1599832401
3      img      img-00613.png   1599832403
4      img      img-00614.png   1599832405

# Update times from CSV file

In [13]:
files = FileSeries.auto(folders=['data/img1', 'data/img2'], extension='.png')
files.update_times('data/External_Time_Info.txt')
files.info.tail()

        folder       filename  time (unix)
num
15   data/img2  img-00629.png   1607500530
16   data/img2  img-00630.png   1607500532
17   data/img2  img-00631.png   1607500534
18   data/img2  img-00632.png   1607500536
19   data/img2  img-00633.png   1607500538

In [14]:
str(files.duration)

'0:00:38'